{% extends "stars/base_menu.html" %}
{% load crispy_forms_tags %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/2.1/ref/contrib/humanize -->
{% block content %}
<h1>
{% if star.owner == user %}
<span style="float: right;">
<a href="{% url 'star_update' star.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'star_delete' star.id %}"><i class="fa fa-trash"></i></a>
</span>
{% endif %}
{{ star.name }}
</h1>
<p>
{{ star.distance }}
</p>
{{ star.diameter }}
</p>
<p>
({{ star.updated_at|naturaltime }})
</p>
{% if user.is_authenticated %}
<br clear="all"/>
<p>
<form method="post" action="{% url 'comment_create' star.id %}">
    {% csrf_token %}
    {{ comment_form|crispy }}
<input type="submit" value="Submit">
<input type="submit" value="All Stars" onclick="window.location.href='{% url 'stars' %}';return false;">
</form>
</p>
{% endif %}
{% for comment in comments %}
<p> {{ comment.text }}
({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</p>
{% endfor %}
{% endblock %}